a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

html.zoomprop {
  margin-right: 0 !important;
}

html.zoomprop.open {
  margin-right: 350px !important;
}

html.zoomprop .header {
  right: 0 !important;
}

html.zoomprop.open .header {
  padding-right: 350px !important;
}

body {
  --cord-sidebar-width: 350px;
  --cord-composer-height-max: 400px;
  --cord-sidebar-launcher-icon-size: 30px;
  --cord-sidebar-launcher-background-color: none;
  --cord-sidebar-launcher-text-color: rgba(255, 255, 255, 0.75);
  --cord-sidebar-launcher-text-color--hover: rgba(255, 255, 255, 0.75);
  --cord-sidebar-launcher-text-color--active: rgba(255, 255, 255, 0.75);
  --cord-sidebar-launcher-text-color--disabled: rgba(255, 255, 255, 0.75);
  --cord-sidebar-launcher-background-color: none;
  --cord-sidebar-launcher-background-color--hover: none;
  --cord-sidebar-launcher-background-color--active: none;
  --cord-sidebar-launcher-background-color--disabled: none;
  --cord-sidebar-launcher-font-size: 1rem;
  --cord-sidebar-launcher-padding: 15px 120px 15px 5px;
  --cord-font-family: 'Roboto', sans-serif !important;
}

.apexcharts-tooltip,
.apexcharts-menu-item {
  color: black;
}

.apexcharts-text {
  fill: rgba(255, 255, 255, 0.7);
}

.zp-load {
  -webkit-mask: linear-gradient(
      to top,
      transparent 10%,
      #fff 15% 30%,
      transparent 95%
    ),
    linear-gradient(to bottom, transparent 30%, #fff 15% 30%, transparent 95%);
  -webkit-mask-size: 10% 10%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: source-in;

  mask: linear-gradient(to top, transparent 10%, #fff 25% 50%, transparent 95%);

  mask-size: 110% 110%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-animation: flickerAnimation 3s ease-in-out infinite;
  -moz-animation: flickerAnimation 3s ease-in-out infinite;
  -o-animation: flickerAnimation 3s ease-in-out infinite;
  animation: flickerAnimation 3s ease-in-out infinite;
  transform: rotate(-10deg);
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    45deg,
    rgba(63, 176, 172, 0.2) 0%,
    rgba(3, 6, 20, 0.4) 25%,
    rgba(18, 23, 47, 1) 51%,
    rgba(3, 6, 20, 1) 100%
  );
  animation: AnimateBG 16s ease-in-out infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loading-text {
  letter-spacing: 0.35rem;
  position: absolute;
  top: 50%;
  left: calc(50% - 150px);
  padding: 20px;
  font-size: 2rem;
  animation: blinker 2.25s linear infinite;
}

.loading-text.small {
  letter-spacing: 0.05rem;
  font-size: 1rem;
  animation: blinker 1.25s linear infinite;
  position: static;
  margin: 0 auto;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 18px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.mapboxgl-map.mouse-add .mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: url('/assets/icons/map-crosshair-cursor.png') 26 26, auto !important;
}

.onboarding-content {
  z-index: 99999;
  background: #000;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 10px;
}
